html, body {
    font-family: 'Nunito', sans-serif;
    height:100%;
}
body {
margin: 0;
}

.container-fluid {
    height: 100%;
}

.row {

    height: 100%;
}

.left {
    background-color: #dbdbdb;
}

.right {
    background-color: #fff;
}

#intro {
    /*background-image: url(../images/cote-d-ivoire.png) ;*/
    background-image: linear-gradient(
        rgba(16, 88, 76, 0.6),
        rgba(24, 46, 43, 0.6)
      ),url(../images/elephant-ci2.jpg) ;
    background-repeat: no-repeat !important;
    background-attachment: relative !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}


div.armoirie {
    margin-top: 20%;
    width: 60%;
    margin-bottom: 1.25rem !important
}

/* Height for devices larger than 576px  style="background: rgba(3, 34, 76, 0.2)"*/
 @media (max-width: 1139.98px) {
        #intro {
        margin-top: -58.59px;
        }
}
@media (max-width: 1139.98px) {
    .marge-gauche-20 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.couleur-orange{
    background-color: #ff4500;
    color: #fff;
}
.text-orange{
    /*color: #fbff00;*/
    color: #f8bc08;
}
.text-italique{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.marge-gauche-20{
    margin-left: 0px !important;
    margin-right: -300px !important;
}

#accueil .coleur-de-fond {
    background-color: rgba(36, 62, 111, 0.6);
    color: white;
  }
